html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	min-width: 320px;

	/* добавим отступ для navbar */
	/* padding-top: 60px; */
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 50px 0;
}

a {
	color: #111;
}

a:hover {
	color: #555;
}

/******* Header *******/
.navbar {
	/* position: fixed; */
	/* top: 0; */
	/* width: 100%; */
	/* z-index: 1000; Устанавливаем z-index, чтобы навигационная панель была поверх других элементов */

	/* убираем прозрачность */
	/* background-color: rgba(253, 239, 239, 0.8); Прозрачный белый цвет */
	/* backdrop-filter: blur(10px); Применяем размытие заднего фона */
}

.navbar-nav {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all 0.3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

/* Уменьшаем жирность подчеркивания для ссылки "Ты можешь" */
.top-menu li a.nav-link.dropdown-toggle.special::after {
	height: 0.5px; /* Пример уменьшения толщины */
	/* Другие стили, если необходимо */
}

/*** MODAL ****/
.modal-body img {
	max-width: 100px;
}

/* Добавляем анимацию для появления и исчезновения задач */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-20px);
	}
}

/* Применяем анимацию к задачам */
.todo-container li {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ced4da; /* Цвет рамки */
	border-radius: 5px;
	background-color: #f8f9fa; /* Цвет фона */
	animation: fadeIn 0.5s ease forwards; /* Анимация появления */
}

.todo-container li.fade-out {
	animation: fadeOut 0.5s ease forwards; /* Анимация исчезновения */
}

/* ************** Матрица Эйзенхауэра ***********************  */
/* .todo-container {
	max-width: 800px;
	margin: 0 auto;
}

.eisenhower-matrix {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.row {
	display: flex;
	gap: 20px;
}

.cell {
	flex: 1;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.task-list {
	list-style: none;
	padding: 0;
}

.task-list li {
	margin-bottom: 5px;
} */
